<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TV guide</title>
</head>
<body>
<div>
    <ul>
        <li th:each="channel : ${channels}">
            <div th:text="${channel.name}"></div>
            <ul>
                <li th:each="program : ${channel.programs}">
                    <div th:text="${program.start} + ' - ' + ${program.end}"></div>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>